<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

<h:head>
<link href="./resources/css/index.css" rel="stylesheet" type="text/css" />
</h:head>
<body>
<ui:composition template="/WEB-INF/templates/master.xhtml">

	<ui:define name="content">
	
	 <style type="text/css">
       .activo {
        
         background-image: none !important;
         color: #0D1AB0 !important; 
       }
       
       
       
       
      .ui-button {
       color: #17202A; 
       background-color: #2E86C1;
       border: 1px solid transparent;
       font-size: 19px;
       -moz-transition: background-color 0.3s;
       -o-transition: background-color 0.3s;
     
       transition: background-color 0.3s;
      }
      
      .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    color: #333333;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    cursor: pointer;
    /* background-color: #f5f5f5; */
    *background-color: #e6e6e6;
    background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 107%, from(#ffffff), to(#ffffff));
    /* background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6); */
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    /* background-repeat: repeat-x; */
    border: 1px solid #cccccc;
    *border: 0;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-bottom-color: #b3b3b3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
    *zoom: 1;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
      </style> 
      
       <style type="text/css">
       .inactivo {
        
         background-image: none !important;
         color: #C0392B !important;
       }
      </style>
      
      
       <style type="text/css">
        .value {
          font-weight: bold;
       }
       </style>
   
   
		<h1 style="color:DodgerBlue;"  >Busqueda de Usuario</h1>
		
		<p:commandLink  action="asignarroles?faces-redirect=true"   
		styleClass="ui-button1 .ui-button-text1" 
	           immediate="true"  style="margin-left: 97%"> 
					
					<p:graphicImage library="images" name="vers.png" height="30"  />
					
           </p:commandLink>
		
			 <h:form id="frmo" enctype="multipart/form-data">
			 <p:growl id="msg" showDetail="true" autoUpdate="true"/>
			 
			 <h:panelGrid id="pgrb" columns="6" cellpadding="5"> 
     
                      <span class="ui-float-label">
                        <p:inputText id="keyword"  value="#{usuarioBean.nombre_usuario}" required="false" label="Keyword" />
                         <p:watermark for="keyword" value="Buscar Usuarios" id="watermark" />
                       </span>
            <p:commandButton id="BtnConsultar" icon="ui-icon-folder-open" 
                   value="Buscar"  async="true"  
                    actionListener="#{usuarioBean.listarBusquedaUsuario()}"  update=":frm:dt,msg" > 
            </p:commandButton>
            
            </h:panelGrid>
			<br>
			</br>
		
		</h:form>
			
		 <h:form id="frm" enctype="multipart/form-data">
             
			
				<p:growl id="msgs" showDetail="true" autoUpdate="true"/>
		 
				<p:dataTable id="dt" var="e" value="#{usuarioBean.lista}"
					paginator="true" rows="5"
					paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
					rowsPerPageTemplate="5,10,15"  rowStyleClass="#{e.estado eq  '1' ? 'activo' : null}  #{e.estado eq  '2' ? 'inactivo' : null}" > 
					
					<p:column headerText="Identificador " style="text-align:center" >
						<p:outputLabel value="#{e.id}" />   
					</p:column>  
					
					
					<p:column headerText="Nombres Completos" style="text-align:center" >
						<p:outputLabel value="#{e.persona.nombres} - #{e.persona.apellidos}" />
					</p:column>

					<p:column headerText="Nombre de Usuario" style="text-align:center"  >
						<p:outputLabel value="#{e.usuario}" />
					</p:column>
				

					<p:column headerText="Estado" style="text-align:center">
						<p:outputLabel value="#{e.estado}" />
					</p:column>


	              <p:column headerText="Resetear Clave" exportable="false" style="text-align:center">
						<p:commandLink actionListener="#{usuarioBean.mostrarData(e)}"
						 oncomplete="PF('wdlg').show()" update=":frm:dlg, :frm:id_modificar" 
						 immediate="true" process="@this">
							<p:graphicImage library="images" name="edit.jpg" />
						</p:commandLink>
					</p:column>
					
				

				</p:dataTable>
				
				
				<p:dialog id="dlg" widgetVar="wdlg" header="#{usuarioBean.tipoDialog}" modal="true"  resizable="false" draggable="true">
				
				<h:panelGrid columns="1">  
				<p:outputLabel style="color: blue" value="Modificando Usuario: #{usuarioBean.usuario.usuario}" /> 
				
				</h:panelGrid>
				
				<br></br>
				<h:panelGrid id="pg" columns="3"> 
				
					<p:outputLabel for="txtNombres" value="Nombres Usu"/>
					<p:inputText disabled="True" id="txtNombres" value="#{usuarioBean.usuario.usuario}" required="true"/>
					<p:message for="txtNombres" display="icon"/>	
			
			     </h:panelGrid>
			 
			<h:panelGrid  columns="4" cellpadding="0"> 
				<h:form id="formvalidar" enctype="multipart/form-data">
                  <h:panelGrid id="idpgrb" columns="4" cellpadding="0"> 
					<p:outputLabel for="pwd" value="Contraseña V" />
					<p:password id="pwd" value="#{usuarioBean.contrasena}" 
					 label="Password 1" required="true"  
					rendered="True"   disabled="false" />
					<p:message for="pwd" display="text" />
					
					<p:commandButton  icon="ui-icon-folder-open" 
                   value="Validar"  async="true" 
                   actionListener="#{usuarioBean.validarcontrasena()}"  
                   update=":frm:id_modificar"  process="@form" > 
                     
                   </p:commandButton>
		         </h:panelGrid>
                 </h:form>
                 
              </h:panelGrid>
					
				<h:panelGrid id="pg1" columns="3"> 	
					<p:outputLabel for="pwd1" value="Contraseña 1:" />
					<p:password id="pwd1" value="#{usuarioBean.usuario.contrasena}" match="pwd2" label="Password 1" 
					required="true" validatorMessage="Contraseñas no coinciden"/>
					<p:message for="pwd1" display="text" />
					

					<p:outputLabel for="pwd2" value="Contraseña 2:" />
					<p:password id="pwd2" value="#{usuarioBean.usuario.contrasena}" label="Password 2" required="true" />

				</h:panelGrid>
				
				<br>
				</br>
				
				<h:panelGrid id="pgbt" columns="3"> 
				<p:commandButton value="Registrar" actionListener="#{usuarioBean.operar('R')}" ajax="true" oncomplete="if (args &amp;&amp; !args.validationFailed) PF('wdlg').hide()" update="pg, dt" rendered="#{usuarioBean.tipoDialog == 'Nuevo'}"/> 
				<p:commandButton  id = "id_modificar" value="Aceptar" 
				actionListener="#{usuarioBean.operar('M')}" ajax="true"
				 oncomplete="if (args &amp;&amp; !args.validationFailed) PF('wdlg').hide()" 
				 update="pg, dt" rendered="#{usuarioBean.tipoDialog == 'Modificar'}"
				 disabled="#{usuarioBean.valor eq '1'}"/>
				 
				 <p:commandButton value="cancelar" onclick="PF('wdlg').hide()" 
				  immediate="true" process="@this" />
			
			      </h:panelGrid>
			</p:dialog>
			
			
		</h:form>
	</ui:define>
</ui:composition>
</body>
</html>